@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
    background: #0f172a;
    color: rgb(255, 255, 255);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    background: rgb(243, 245, 255);
    border-radius: 12px;
    text-align: center;
}

table{
    height: 100%;
    border-collapse: collapse;
}

caption{
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

th, td{
    text-align: center;
    padding: 1rem;
    border: 1px solid rgb(138, 138, 138);
}

tr:nth-child(even){
    background-color: rgb(213, 222, 255);
}

a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    transition: 0.3s;
}

a:hover {
    color: #2563eb;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
    margin-top: 20px;
}