@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background: #f1f5f9;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
    background: #0f172a;
    color: rgb(255, 255, 255);
}

section {
    
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    
}

section div{
    background-color: aliceblue;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}

li{
    margin: 0.5rem 3rem;
}

a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    transition: 0.3s;
}

a:hover {
    color: #2563eb;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
    color: white;
    margin-top: 20px;
}